.root-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

.root-div > header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.25em 0.5em;
  background-color: #080400;
  width: max(20%, 120px);
}

.root-div h1 {
  margin: 0.5em 0;
}

.root-div h1 > * {
  text-decoration: none;
  color: inherit;
}

.nav-bar {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flow-root;
}

.nav-title {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar > form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-project-btn,
.new-todo-btn {
  width: 28px;
  font-weight: 100;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: 0;
  line-height: 50%;
  display: grid;
  place-items: center;
}

.new-todo-btn {
  width: 24px;
}

.nav-bar > ul {
  width: 100%;
  min-height: 60vh;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flow-root;
}

.nav-bar ul li {
  display: flex;
  align-items: center;
  padding: 0.1em 0.4em;
  border: 0;
  border-top: 1px solid #fff;
  position: relative;
  word-wrap: break-word;
}

.nav-bar ul a {
  text-decoration: none;
  width: 100%;
  text-align: left;
  font-style: italic;
  font-weight: 600;
  color: #fff;
}

.nav-bar ul li:last-of-type {
  border-bottom: 1px solid #fff;
}
/* 
.nav-bar li:has(.nav-active) {
  background-color: rgb(71, 71, 243);
  color: white;
} */

.user-actions {
  display: flex;
  gap: 0.25em;
  position: absolute;
  bottom: 2%;
}
/* 
.user-actions > button {
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  transition: background-color 200ms linear;
}

.user-actions > button:hover,
.user-actions > button:focus {
  background-color: #0003;
} */

.root-div > main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.np-name {
  font-size: 30px;
  outline: none;
  border: 0;
  border-radius: 10px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  padding: 0.2em 0.4em;
}

.np-desc {
  width: 400px;
  max-height: 200px;
  resize: none;
}

.new-project > button {
  padding: 0.25rem 0.5rem;
}

.project {
  width: 100%;
  min-height: 100%;
  padding: 2rem 1rem;
  overflow: hidden;
}

.project-title {
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.project-title > form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-delete,
.project-edit,
.set-fav-btn {
  width: 25px;
}

.nav .project-delete {
  width: 16px;
  background-color: transparent;
}

.project-delete,
.project-edit,
.set-fav-btn {
  background-color: transparent;
  border-radius: 50%;
  border: 0;
  margin: 0;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  transition: scale 250ms;
}

.project-delete:hover,
.project-edit:hover,
.set-fav-btn:hover {
  scale: 1.25;
}

.project-description {
  max-width: 75%;
}

.task-container {
  width: 100%;
}
